<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>【天气预报】</title>
</head>
<body>
<h1>【天气预报】 <span th:text="${city}"></span>将是<span th:text="${weather}"></span>天气</h1>
    <p>
        根据中央气象局预报，<span th:text="${province}"></span>省<span th:text="${city}"></span>将于<span th:text="${date}"></span>，
        出现<span th:text="${weather}"></span>天气.
    </p>
    详细信息：
        <ul>
            <li>天气:<span th:text="${weather}"></span></li>
            <li>气温:<span th:text="${temperature}"></span></li>
            <li>湿度:<span th:text="${humidity}"></span></li>
            <li>风向:<span th:text="${windDirection}"></span></li>
            <li>风力:<span th:text="${windPower}"></span></li>
        </ul>
<p>
    请当地居民及时关注天气预报，做好防范准备。
</p>
</body>
</html>